<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Page</title>
</head>
<body>
    <h1>Did you know about Ninjas?</h1>
    <p>The word “ninja” as we know it is actually a rather recent term. Understanding it, though, first requires look at the Chinese writing system, which the Japanese system is based on. The Chinese word for ninja is 忍者, which Japanese pronounces as “ninja.” A lot of people will mistakenly tell you that the word means “invisible man,” but that’s a misconception. While the second character does roughly mean “person,” the first means “endure,” “spy,” or “hide.”  Thus, the word ninja means “a person who endures or spies.”</p>
    <p>But, in spoken Japanese, the word for “one who endures or hides” is actually “shinobi mono.” Usually it was shortened to just “shinobi.” This was the common word people used to refer to the clandestine warriors, not ninja.</p>
    <p>The word ninja came to be the exclusive term because it was easier to say for westerners. When westerners first arrived in Japan they were held in very high esteem because of their advanced technology. Often they were even more honored than Japanese themselves. “Shinobi” was difficult for westerners to say, so the word “ninja” was adopted by all as the standardized form.</p>
    <p>The word for female ninjas, by the way, is kunoichi. It was almost unknown outside of Japan until very recently, thanks mostly to anime. It has a short, but interesting story. The word for woman in written Japanese is 女. It’s made with three individual letters or words: く, which is pronounced “ku.” ノ, which is pronounced “no.” And 一 is pronounced as “ichi.” Ku-no-ichi.</p>
</body>
</html>