/* Global */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #33d9b2;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header{
    padding: 3px;
}
header #logo{
    float: left;
    vertical-align: top;
}
header span{
    float: right;
    vertical-align: top;
}
#logo{
    width: 100px;
    height: 95px;
}
ul{
    margin: 0;
    padding: 0;
}

/* Navigation */
nav{
    background-color: #34ace0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding: 10px 5px;
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav i{
    color: white;
    font-size: 50px;
    margin: 0px 30px;
}
.active{
    color: #ffb142;
}

/* Main Section */
section{
    text-align: center;
}
section .video{
    display: inline-block;
    width: 48%;
    height: 150px;
    margin: 5px auto;
}
img{
    width: 197.266px;
    height: 150px;
    border-radius: 5px;
}
section .spacer{
    height: 85px;
}
section h1{
    float: right;
    margin: 0px 3px 10px 0px;
}

/*  Media Queries */
@media(min-width: 500px){
/* Navigation */
nav i{
    margin: 0px 60px;
}


/* Main Section */
section{
    text-align: center;
}
section .video{
    display: inline-block;
    width: 15%;
    height: 150px;
    margin: 5px auto;
}
img{
    width: 197.266px;
    height: 150px;
    border-radius: 5px;
}

section h1{
    float: right;
    margin: 0px 3px 10px 0px;
}
}
