<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Delete a course</title>
</head>
<body>
    <h3>Are you sure you want to delete the following course?</h3>
    <p>Name: {{ course.name }}</p>
    <p>Description: {{ course.desc }}</p>
    <form action="/" method="POST">
        {% csrf_token %}
        <input id="button2" type="submit" value="No">
    </form>
    <form action="/courses/destroy/{{ course.id }}" method="POST">
        {% csrf_token %}
        <input id="button3" type="submit" value="Yes! I want to delete this">
    </form>
</body>
</html>