<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style2.css')}}">
</head>
<body>
    <h2>Welcome to the Great Number Game!</h2>
    <p>I'm thinking of a number between 1 and 100 - take a guess!</p>
    {% if session['guess'] > session["magic_number"] %}
    <p>Too high...Guess again.</p>
    {% elif session['guess'] < session["magic_number"] %}
    <p>Too low...Guess again.</p>
    {% else %}
    <p>Are you a mind reader?!? - you guessed the number!!!</p>
    {% endif %}
    <form action="/guess" method='post'>
    <input type="text" name="guess">
    <input type="submit">
    </form>
    <form action="/reset" method="post">
        <input type="submit" value='reset random'>
    </form>
</body>
</html>