<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Counter</title>
</head>

<body>
    <div id='wrapper'>
        <h1>Counter</h1>
        <h3>{{session["counter"]}} times.</h3>
        <form action="/addone">
            <input type="submit" value="Add One">
        </form>
        <form action="/addtwo">
            <input type="submit" value="Add Two">
        </form>
        <form action="/reset">
            <input type="submit" value="Reset">
        </form>
    </div>
</body>

</html>