<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content ="Website for stuff">
    <meta name="keywords" content="tags, anything, everything">
    <meta name="author" content="Quinnland">
    <link rel="stylesheet" type="text/css" href="../static/homestyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
    <title>Quinnland | Home</title>
</head>
<body>
    <header>
        <div class="container">
            <img id="logo" alt="Quinnland Logo" src="C:\Users\justl\Desktop\dojo_assignments\Python\quinnland\static\images\logos\QNLD_COLOR.png"> 
            <span>user | logout</span>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul>
                <li><a href="C:\Users\justl\Desktop\dojo_assignments\Python\quinnland\templates\power-hours.html"><i class="fas fa-bolt"></i></a></li>
                <li><a href="C:\Users\justl\Desktop\dojo_assignments\Python\quinnland\templates\home.html"><i class="fas fa-home active"></i></a></li>
                <li><a href="#"><i class="fas fa-store-alt"></i></a></li>
            </ul>
        </div>
    </nav>
    <section>
    <div class="container">
        <h1>Monday</h1>
    </div>
    </section>
    <section id="main-content">
        <div class="container">
            <h3>Title 1</h3>
            <video width="320" height="240" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>
            <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown.</p>
        </div>
    </section>
    <section id="ads">
        <img src="C:\Users\justl\Desktop\dojo_assignments\Python\quinnland\static\images\ads\giphy.gif" alt="">
        <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p>
        <img id ="lrg-pic" src="C:\Users\justl\Desktop\dojo_assignments\Python\quinnland\static\images\ads\red3.png" alt="">
        <p>If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is.</p>
    </section>
</body>
</html>