pip install Django==1.11.9
C:\Users\justl>pip install Django==1.11.9
Collecting Django==1.11.9
  Downloading Django-1.11.9-py2.py3-none-any.whl (6.9MB)
    100% |################################| 7.0MB 185kB/s
Collecting pytz (from Django==1.11.9)
  Downloading pytz-2017.3-py2.py3-none-any.whl (511kB)
    100% |################################| 512kB 1.7MB/s
Installing collected packages: pytz, Django
Successfully installed Django-1.11.9 pytz-2017.3

pip list
beautifulsoup4 (4.6.0)
cssselect (1.0.3)
Django (1.11.9)
feedparser (5.2.1)
html2text (2017.10.4)
lxml (4.1.1)
pip (9.0.1)
pytz (2017.3)
requests (0.14.2)
setuptools (38.4.0)
vidscraper (1.0.2)

pip install Django==1.11.9
Requirement already satisfied: Django==1.11.9 in c:\python27\lib\site-packages
Requirement already satisfied: pytz in c:\python27\lib\site-packages (from Django==1.11.9)

pip freeze
beautifulsoup4==4.6.0
cssselect==1.0.3
Django==1.11.9
feedparser==5.2.1
html2text==2017.10.4
lxml==4.1.1
pytz==2017.3
requests==0.14.2
vidscraper==1.0.2

cd Desktop

pip freeze > requirements.txt
beautifulsoup4==4.6.0
cssselect==1.0.3
Django==1.11.9
feedparser==5.2.1
html2text==2017.10.4
lxml==4.1.1
pytz==2017.3
requests==0.14.2
vidscraper==1.0.2

C:\Users\justl\Desktop>dir
 Volume in drive C is Windows
 Volume Serial Number is D406-9785

 Directory of C:\Users\justl\Desktop

01/09/2018  07:44 PM    <DIR>          .
01/09/2018  07:44 PM    <DIR>          ..
01/03/2018  10:08 PM         5,054,004 12525511_959181000835022_8338011832284924407_o.psd
11/08/2017  11:16 PM             1,026 Art Files.lnk
01/07/2018  04:12 AM    <DIR>          Dojo_Assignments
11/08/2017  09:18 PM             1,844 Google Drive.lnk
12/05/2017  06:43 PM             2,310 Mattermost.lnk
01/09/2018  07:44 PM               162 requirements.txt
11/08/2017  07:39 PM             1,857 Spotify.lnk
11/08/2017  08:13 PM             1,347 Trend Micro Internet Security.lnk
12/05/2017  06:44 PM             2,674 Zoom.lnk
               8 File(s)      5,065,224 bytes
               3 Dir(s)  900,114,567,168 bytes free

C:\Users\justl\Desktop>pip uninstall Django
Uninstalling Django-1.11.9:
  c:\python27\lib\site-packages\django-1.11.9.dist-info\description.rst
  c:\python27\lib\site-packages\django-1.11.9.dist-info\entry_points.txt
  c:\python27\lib\site-packages\django-1.11.9.dist-info\installer
......
Proceed (y/n)? y

C:\Users\justl\Desktop>pip show Django

C:\Users\justl\Desktop>pip search Flask
Flask-User-05 (0.5)                            - Customizable User Account
                                                 Management for Flask:
                                                 Register, Confirm email,
                                                 Login, Change username,
                                                 Change password, Forgot
                                                 password and more.
flask-restless-swagger-2 (0.0.3)               - Magically create swagger
                                                 documentation as you
                                                 magically create your RESTful
                                                 API
flask-restful-swagger-2 (0.35)                 - Extract swagger specs from
                                                 your flask-restful project.
                                                 Project based on flask-
                                                 restful-swagger by Ran
                                                 Tavory.
.....


