<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div>
        <form action="/results" method="POST">
            {% csrf_token %}
            <p>Your Name: <input type="text" name="name"></p>
            <p>Dojo Location: <input type="text" name="location"></p>
            <p>Favorite Language: <input type="text" name="lang"></p>
            <p>Comment (optional): <input type="textbox" name="comm"></p>
            <p><input type="submit" value="Submit!"></p>
        </form>
    </div>
</body>
</html>